/* 
    Created on : 27/09/2017, 21:06:44
    Author     : Helmes V. Santos
    E-mail     : helmesvs@hotmail.com
    GitHub     : https://github.com/Helmesvs
*/

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qjy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v1/zO07Oxe3SOlw0l2YX2sdIS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

.toast:before{
    text-align: center
}
.toast-title {
    font-weight: 600
}
.toast-title, .toast-message{
    font-family: Poppins,sans-serif;
    font-size: 14px;
}
#toast-container>div {
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    color: #737373;
    background-color: #FFF;
    padding: 15px 15px 15px 65px;
    width: 300px;
    /*    min-height: 74px*/
}
#toast-container>.toast {
    background-image: none!important
}
#toast-container>:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.toast-close-button {
    height: 20px;
    width: 20px;
    color: #737373;
    top: -5px;
    right: -5px;
    outline: 0
}
.toast:before {
    font-family: themify;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px
}
.toast-success, .brighttheme-success {
    border: 2px solid #17A88B
}
.toast-success .toast-title, .brighttheme-success .ui-pnotify-title {
    color: #149278
}
.toast-success .toast-progress {
    background-color: #1abe9e
}
.toast-success:before {
    content: "\e64d";
    color: #149278
}
.toast-info, .brighttheme-info {
    border: 2px solid #0FB3FF
}
.toast-info .toast-title, .brighttheme-info .ui-pnotify-title{
    color: #00a7f5
}
.toast-info .toast-progress {
    background-color: #29bbff
}
.toast-info:before {
    content: "\e717";
    color: #00a7f5
}
.toast-error:before,
.toast-warning:before {
    content: "\e6c5"
}
.toast-warning, .brighttheme-notice {
    border: 2px solid #FFB61E
}
.toast-warning .toast-title, .brighttheme-notice .ui-pnotify-title {
    color: #ffae04
}
.toast-warning .toast-progress {
    background-color: #ffbe38
}
.toast-warning:before {
    color: #ffae04
}
.toast-error, .brighttheme-error {
    border: 2px solid #E5343D
}
.toast-error .toast-title, .brighttheme-error .ui-pnotify-title {
    color: #e21d27
}
.toast-error .toast-progress {
    background-color: #e84b53
}
.toast-error:before {
    color: #e21d27
}


.brighttheme{
    background-color: #fff;
    color: #737373;
}
.ui-pnotify-icon{
    position: absolute;
    height: 100%;
    width: 38px;
    top: 0;
    bottom: 0;
}
.ui-pnotify-title {
    font-weight: 600
}
.ui-pnotify-title, .ui-pnotify-text{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    padding-left: 61px;
    margin-bottom: 0 !important;
}

.brighttheme.ui-pnotify-container{
    padding: 15px;
}
.ui-pnotify-icon span:after{
    font-family: themify;
    font-size: 38px;
    text-align: center;
    font-weight: 100;
}
.ui-pnotify-icon span{
    background-color: #fff;
    border: 0;
}
.brighttheme-icon-success{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.brighttheme-icon-success:after{
    content: "\e64d";
    color: #149278;
}
.brighttheme-icon-info{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.brighttheme-icon-info:after{
    content: "\e717";
    color: #00a7f5;
}
.brighttheme-icon-notice{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.brighttheme-icon-notice:after{
    content: "\e6c5";
    color: #ffae04;
}
.brighttheme-icon-error{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.brighttheme-icon-error:after{
    content: "\e6c5";
    color: #e21d27;
}

.toast{
    height: 100%;
    min-height: unset !important;
}
.toast-success:before{
    top: 0;
    bottom: 0;
    margin: auto;
}
.toast-info:before{
    top: 0;
    bottom: 0;
    margin: auto;
}
.toast-warning:before{
    top: 0;
    bottom: 0;
    margin: auto;
}
.toast-error:before{
    top: 0;
    bottom: 0;
    margin: auto;
}